# {{ ansible_managed }}
{{ grafana_ldap_data }}
{% for g in grafana_group_mappings.keys() %}
[[servers.group_mappings]]
{% for i in grafana_group_mappings[g] %}
group_dn = "{{ i }}"
{% endfor %}
org_role = "{{ g }}"
{% endfor %}
